<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Wellness</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='css/logo1.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario.css') }}">
</head>
<body>

    <div class="background"></div>

    <div class="login-container">

        <div class="leaf">🍂</div>

        <h1>¡CORREO ENVIADO!</h1>
        <h3>Revise su bandeja de entrada y haga clic en el enlace de confirmación para restablecer su contraseña.</h3>

        <div class="links" style="margin-top: 20px;">
            <a href="/sesion">Volver al inicio de sesión</a>
        </div>

    </div>

</body>
</html>
