<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Wellness</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/sesion.css') }}">
</head>
<body>

    <div class="background"></div>

    <div class="login-container">

        <div class="leaf">🍂</div>

        <h1>CÓDIGO DE RECUPERACIÓN</h1>

        <form action="CodigoEnviado.html" method="#"></form>

            <input
                type="text"
                placeholder="Correo Electronico"
                required
            >

            <button type="submit">
                Enviar
            </button>

            <div class="links">
                <a href="/sesion">Iniciar sesion</a>
            </div>

        </form>

    </div>

</body>
</html>
