<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Wellness</title>
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='css/logo1.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/formulario.css') }}">
</head>
<body>

    <div class="background"></div>

    <div class="login-container">

        <div class="leaf">🍂</div>

        <h1>RECUPERAR CONTRASEÑA</h1>

        <form action="{{ url_for('recuperacion.solicitar_recuperacion') }}" method="POST">

            <input
                type="email"
                name="correo"
                placeholder="Correo Electrónico"
                required
            >

            <button type="submit">
                Enviar Enlace
            </button>

            <div class="links">
                <a href="/sesion">Iniciar sesión</a>
            </div>

        </form>

    </div>

</body>
</html>
