{% extends "base.html" %}

{% block title %}
Book Wellness - Objetivos
{% endblock %}

{% block css %}

<!-- CSS STYLES OBJETIVO -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/styles objetivo.css') }}">

{% endblock %}

{% block content %}

{% include "boton-atras.html" %}

<main class="main-content">

    {% include "Ob_Logros/objetivos.html" %}

    <div class="bottom-divider"></div>

    <section class="simulation-section">

        <h2 class="section-title">
            Logros en Progreso
        </h2>

        <div class="info-cards" id="simulation-goals-container">

            {% include "Ob_Logros/logros1.html" %}
            {% include "Ob_Logros/logros2.html" %}
            {% include "Ob_Logros/logros3.html" %}

        </div>

    </section>

</main>

</body>
</html>

{% endblock %}

{% block js %}

<script src="{{ url_for('static', filename='js/nuevo objetivo y barra.js') }}"></script>

{% endblock %}
