<!-- EL HTML PARA LOS RESULTADOS DE LA BUSQUEDA -->

{% extends "base.html" %}

{% block title %}
Book Wellness - Busqueda Libro
{% endblock %}

{% block css %}

<!-- CSS BusquedaDeLibros -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/BusquedaDeLibros.css') }}">

{% endblock %}

{% block content %}

    <div class="main-layout">

        <div class="main-content">

            <!-- BUSCADOR -->
            <div class="reading-tools">

                <div class="filter-container">

                    <button
                        class="tool-btn"
                        id="filterBtn">
                
                        <span>Filtro</span>

                        <span>▼</span>
                
                    </button>
                
                    <div
                        id="filterMenu"
                        class="filter-menu">
                
                    </div>
                
                </div>

                <button class="tool-btn">
                    Ordenar
                </button>

                <form action="/buscar" method="GET">

                    <div class="search-box">

                        <span class="search-icon">
                            🔍
                        </span>

                        <input
                            type="text"
                            name="q"
                            placeholder="¿Qué deseas leer hoy?"
                            required
                        >

                    </div>

                </form>

            </div>

            <p class="wellness-message">
                Descubre nuevas lecturas para tu bienestar 📚
            </p>
                        
        <!-- RESULTADOS -->

        <div id="contenedor-resultados">

            <div class="loader-cabecera">
        
                <div class="loader loader-grande"></div>
        
                <span id="texto-carga-cabecera">
                    Consultando catálogo...
                </span>
        
            </div>
        
        </div>        
        
</body>
</html>

{% endblock %}

{% block js %}

<script src="{{ url_for('static', filename='js/generos.js') }}"></script>
<script src="{{ url_for('static', filename='js/filtro.js') }}"></script>
<script src="{{ url_for('static', filename='js/busqueda-libro.js') }}"></script>

{% endblock %}
