{% extends "base.html" %}

{% block title %}
Book Wellness - Detalle Libro
{% endblock %}

{% block css %}

<!-- CSS detalle-libro -->
<link rel="stylesheet" href="{{ url_for('static', filename='css/detalle-libro.css') }}">

{% endblock %}

{% block content %}

    <!-- CONTENIDO -->
    <div class="book-detail-container">

        <!-- IZQUIERDA -->
        <div class="book-cover-section">

            <button class="back-btn" onclick="history.back()">
                ←
            </button>

            <div class="detail-book-card">

                <img 
                src="{{ portada }}"
                alt="{{ titulo }}"
                id="img-portada"
         >
            </div>

        </div>

        <!-- DERECHA -->
        <div class="book-info-section">

            <div id="cabecera-libro">

                <div class="loader-cabecera">
            
                    <div class="loader loader-grande"></div>
            
                    <span id="texto-carga-cabecera">
                        Consultando catálogo...
                    </span>
            
                </div>
            
            </div>                        

            <!-- BOTONES -->
            <div class="detail-buttons">

                <button class="read-btn"id="btn-leyendo">
                    Leyendo
                </button>

                <button class="soon-btn" id="btn-pendiente">
                    Pendiente a leer
                </button>

            </div>

            <!-- INFO -->
            <div class="book-extra-info">

                <div class="info-block">

                    <h4>
                        Descripción
                    </h4>

                    <div id="descripcion">

                        <div class="loader-container">
                            <div class="loader"></div>
                            <span id="texto-carga">
                                Buscando ejemplar...
                            </span>
                        </div>
                    </div>                                        

                </div>

                <div class="info-grid">

                    <div class="mini-info">

                        <h4>Páginas</h4>
                    
                        <div id="paginas">
                    
                            <div class="loader-container">
                                <div class="loader"></div>
                            </div>
                    
                        </div>
                    
                    </div>
                    
                    <div class="mini-info">
                    
                        <h4>Géneros</h4>
                    
                        <div id="generos">
                    
                            <div class="loader-container">
                                <div class="loader"></div>
                            </div>
                    
                        </div>
                    
                    </div>
                    
                    <div class="mini-info">
                    
                        <h4>País de origen</h4>
                    
                        <div id="pais">
                    
                            <div class="loader-container">
                                <div class="loader"></div>
                            </div>
                    
                        </div>
                    
                    </div>
                    
                    <div class="mini-info">
                    
                        <h4>Año de publicación</h4>
                    
                        <div id="anio">
                    
                            <div class="loader-container">
                                <div class="loader"></div>
                            </div>
                    
                        </div>
                    
                    </div>
                    
                    <div class="mini-info">
                    
                        <h4>Formato</h4>
                    
                        <div id="formato">
                    
                            <div class="loader-container">
                                <div class="loader"></div>
                            </div>
                    
                        </div>
                    
                    </div>                    

                </div>

            </div>

        </div>
            
    </div>

    <script>

   window.datoLibro = {
    portada: "{{ portada }}",
    key: "{{ clave }}",
    id_google: "{{ id_google }}",  
    titulo: "",
    autor: "",
    descripcion: "",
    paginas: null
};
        
    </script>


</body>
</html>

{% endblock %}

{% block js %}

<script src="{{ url_for('static', filename='js/detalle-libro.js') }}"></script>

{% endblock %}
